{% load static %}
<div class="quixnav">
    <div class="quixnav-scroll">
        <ul class="metismenu" id="menu">
            <li class="nav-label first">Main Menu</li>
            <li><a href="widget-basic.html" aria-expanded="false"><i class="icon icon-single-04"></i><span
                class="nav-text">Dashboard</span></a></li>
           
           
           
            <li class="nav-label">Services</li>
            <li><a class="has-arrow" href="javascript:void()" aria-expanded="false"><i
                        class="icon icon-form"></i><span class="nav-text">Requests</span></a>
                <ul aria-expanded="false">
                    <li><a href="./ui-accordion.html">Barangay Clearance</a></li>
                </ul>
            </li>

            <li class="nav-label">Programs</li>
            <li><a href="widget-basic.html" aria-expanded="false"><i class="icon icon-single-04"></i><span
                class="nav-text">View Programs</span></a></li>
           


            <li class="nav-label">Inventory</li>
            <li><a class="has-arrow" href="javascript:void()" aria-expanded="false"><i
                        class="icon icon-layout-25"></i><span class="nav-text">List</span></a>
                <ul aria-expanded="false">
                    <li><a href="table-datatable-basic.html">Borrowed</a></li>
                    <li><a href="table-bootstrap-basic.html">Returned</a></li>
                   
                </ul>
            </li>

            {% comment %} <li class="nav-label">Documents</li>
            <li><a class="has-arrow" href="javascript:void()" aria-expanded="false"><i
                        class="icon icon-single-copy-06"></i><span class="nav-text">Resolution and Ordinances</span></a>
                <ul aria-expanded="false">
                    <li><a href="./page-register.html">Resolutions</a></li>
                    <li><a href="./page-login.html">Ordinances</a></li>
                   
                    <li><a href="./page-lock-screen.html">Memorandum</a></li>
                </ul>
            </li> {% endcomment %}
        </ul>
    </div>


</div>
